.Repair-Request{
    width: 100%;
    height: 100vh;
    background: url('../../public/whitewall.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.Repair-Request>div{
    width: 25rem;
    height: 5rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 3rem;
}
.Repair-Request-form{
    width: 40rem;
    height: 30rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.Repair-Request-form-column1{
    width: 30rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.Repair-Request-form-column1>input[type="file"]{
background-color: rgb(1, 1, 34);
border: 1px solid white;

}
.Repair-Request-form-column1 > input[type="file"]::placeholder {
    background-color: rgb(24, 2, 72);
  }

.Repair-Request-form-column2{
    width: 30rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.Repair-Request-form-column2>button{
    width: 10rem;
    border-radius: 5px;
    border: none;
    height: 1.5rem;
}
.Repair-Request-form-column2>input{
    width: 30rem;
    height: 5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 1, 34);
    border: 1px solid white;
    border-radius: 5px;
    
}
.btn{
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    background-color:white;
    border: none
}